<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Google+Sans|Noto+Sans|Castoro" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="/static/winbox.bundle.min.js"></script>
  <script src="/static/screen.js"></script>
  <script src="https://kit.fontawesome.com/68e83f7430.js" crossorigin="anonymous"></script>
<style>

.wb-title {
  line-height: 20px;
}
  .wb-body {
    top: 20px;
} 
.wb-icon {
    height: 20px;
}
  img.content {
    width: 100%;
  }
.imgcontent {
  width: 100%;
}
.winbox {
  background-color: #3558a4;
}
body {
  margin: 0px;
  font-family: 'Google Sans', sans-serif;
}
.mywindow {
  position: absolute;
  width: 100;
  height: 200;
  background-color: #CCCCCC;
  border-radius: 5px 5px 0px 0px;
  display: none;
  overflow: hidden;
}
.header {
  width: 100%;
  height: 20px;
  background-color: #3558a4;
  border-radius: 5px 5px 0px 0px;
}
.title {
  font-size: 13px;
  padding: 5px;
  color: white;
  user-select: none;
}

.buttons {
  background-color: #3558a4;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
  color: white;
  border-radius: 5px 5px 0px 0px;
}
.buttons img {
  float: right;
    width: 19px;
    height: 19px;
      -webkit-filter: invert(100%);
    filter: invert(100%);
 -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#template {
  display: none;
}
.content  img {
 -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
ul {
  list-style-type: none; /* Remove bullets */
  margin-block-start: 5px;
  padding-inline-start: 5px;
}
.content {
  font-size: 13px;
  user-select: none;
  background-color: #EEEEEE;
}
.finder_pathbar {
  padding: 5px;
    background-color: #cccccc;
}
.apathbar {
}
.slider {
  display: none;
  position: absolute;
  width: 5px;
  background-color: #BBBBBB;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: visible;
  user-select: none;
  cursor: col-resize;
}
.panelContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.panel {
  position: relative;
  width: 50%;
}
.finder_left {
  /* width: 25%; */
}
.finder_right {
  background-color: #BBBBBB;
}
</style>

</head>
<body>
  <div class="mywindow" id="template">
    <div class="header">
      <span class="title">result.png</span>
      <div class="buttons">
        <img src="/static/images/close.png" class="button_close">
        <img src="/static/images/full.png" class="button_max">
        <img src="/static/images/min.png" class="button_min">
        <!-- <i class="fa-solid fa-xmark"></i> -->
        <!-- <i class="fa-solid fa-compress"></i> -->
        <!-- <i class="fa-solid fa-window-minimize"></i> -->
      </div>
    </div>
    <div class="content" draggable="false"></div>
  </div>
</body>
</html>
