<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Google+Sans|Noto+Sans|Castoro" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="/static/winbox.bundle.min.js"></script>
  <script src="/static/screen.js"></script>
  <script src="https://kit.fontawesome.com/68e83f7430.js" crossorigin="anonymous"></script>
<style>

.wb-title {
  line-height: 20px;
}
  .wb-body {
    top: 20px;
} 
.wb-icon {
    height: 20px;
}
  img.content {
    width: 100%;
  }
.imgcontent {
  width: 100%;
}
.winbox {
  background-color: #3558a4;
}
body {
  margin: 0px;
  font-family: 'Google Sans', sans-serif;
}
.mywindow {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #CCCCCC;
  border-radius: 6px 6px 0px 0px;
  display: none;
  overflow: hidden;
  box-shadow: 2px 2px 8px #888888;
}

.window_max {
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  position: absolute;
}

.window_min {
  position: absolute;
  background-color: #CCCCCC;
  border-radius: 6px 6px 6px 6px;
  display: none;
  overflow: hidden;
}
.window_min .title {
  cursor: pointer;
}

.header {
  width: 100%;
  height: 20px;
  background-color: #3558a4;
  border-radius: 6px 6px 0px 0px;
}
.title {
  font-size: 13px;
  padding: 2px 5px;
  color: white;
  user-select: none;
  display: inline-block;
  overflow: hidden;
  width: calc(100% - 65px);
  direction: rtl;
  text-align: left;
  text-wrap: nowrap;
}

.unfocused {
  color: #a9beeb;
}
.buttons {
  background-color: #3558a4;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
  color: white;
  border-radius: 5px 5px 0px 0px;
}
.buttons img {
  float: right;
    width: 19px;
    height: 19px;
      -webkit-filter: invert(100%);
    filter: invert(100%);
 -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#template, #template_min, #template_max {
  display: none;
    
}
.content  img {
 -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
ul {
  list-style-type: none; /* Remove bullets */
  margin-block-start: 5px;
  padding-inline-start: 5px;
}
.content {
  font-size: 13px;
  user-select: none;
  background-color: #EEEEEE;
}
.finder_header {
  background-color: #cccccc;
}
.finder_pathbar {
  padding: 5px;
  display: inline-block;
}
.infotab {
  display: inline-block;
  padding: 5px;
  position: absolute;
  right: 130px;
}
.finder_zoombar {
  display: inline-block;
  float: right;
  position: absolute;
  right: 0px;
}
.apathbar {
}
.slider {
  width: 5px;
  background-color: #cccccc;
  user-select: none;
  cursor: col-resize;
	flex-shrink: 0;
}
.panelContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;
}
.panel { 
  position: relative;
  /* width: 50%; */
}
.finder_left {
  flex-basis: 200px;
	flex-grow: 0;
	flex-shrink: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-wrap: anywhere;
  /* width: 200px; */
  /* width: 25%; */
}
.finder_right {
  background-color: #DDDDDD;
  align-content: flex-start;
  padding: 2px;
  overflow: scroll;
  /* flex-grow: 1; */
}

.flex-container img, .flex-container video {
  object-fit: contain;
  width: 200px;
  height: 200px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}
.flex-container > div {
  margin: 2px;
  background-color: #EEEEEE;
  border-radius: 8px;
}
.finder_image {
  width: 200px;
  height: 200px;
  padding: 2px;
  border-radius: 2px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.finder_label {
  padding: 2px;
  font-size: 13px;
  word-break: break-all;
  text-align: center;
  background-color: #EEEEEE;
  
}

a {
  color: #3558a4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.fa-li {
  color: #3558a4;
}

.noimage {
  padding: 20px;
  font-size: 16px;
  color: #999999;
  margin: auto;
}
#app_finder {
  right: 0px;
  top: 0px;
  padding: 10px;
  position: absolute;
  font-size: 40px;
  color: #3558a4;
}
#app_finder_open {
  cursor: pointer;
}

.button_zoom {
  /* background-color: white; */ 
  border: 2px solid #555555;
  color: black;
  padding: 0px 2px;
  width: 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 6px;
}
.zoom_area {
  border-radius: 4px;
  width: 120px;
  height: 7px;
  background-color: #AAAAAA;
  margin-top: 10px;
  margin-right: 10px;
}
.zoom_ball {
  width: 15px;
  height: 15px;
  background-color: #3558a4;
  border-radius: 10px;
  position: absolute;
  top: 6px;
  left: 37px;
  cursor: ew-resize;

}
</style>

</head>
<body>
  <div class="fav_list">
    <ul>
      <% for (let i = 0; i < favs.length; i++) { %>
        <li><a href="<%= favs[i] %>" class="fav_link"><%= favs[i] %></a></li>
      <% } %>
    </ul>
  </div>

  <div id="app_finder">
    <i class="fa-regular fa-folder-open" id="app_finder_open"></i>
  </div>
  <div class="mywindow" id="template">
    <div class="header">
      <span class="title">result.png</span>
      <div class="buttons">
        <img src="/static/images/close.png" class="button_close">
        <img src="/static/images/full.png" class="button_max">
        <img src="/static/images/min.png" class="button_min">
        <!-- <i class="fa-solid fa-xmark"></i> -->
        <!-- <i class="fa-solid fa-compress"></i> -->
        <!-- <i class="fa-solid fa-window-maximize"></i> -->
      </div>
    </div>
    <div class="content" draggable="false"></div>
  </div>

  <div class="window_min" id="template_min">
    <div class="header">
      <span class="title">result.png</span>
      <div class="buttons">
        <img src="/static/images/close.png" class="button_close">
      </div>
    </div>
  </div>

  <div class="window_max" id="template_max">
    <div class="header">
      <span class="title">result.png</span>
      <div class="buttons">
        <img src="/static/images/close.png" class="button_close">
        <img src="/static/images/full.png" class="button_max">
        <img src="/static/images/min.png" class="button_min">
      </div>
    </div>
  </div>
</body>
</html>
